@import "./__variables";

/*
SCSS de la page d'accueil
 */

body {
  margin: 0;
  font-family: "Roboto", cursive;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: $color_white;
  z-index: 1;

  h3 {
    display: flex;
    justify-content: center;
  }

  &_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    :hover {
      background: #f2eafb;

      i {
        color: $color_primary;
      }

      h6 {
        background: $color_primary;
      }
    }

    &_card {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 10px;
      margin: 12px;
      border: 1px solid $background_grey;
      width: 270px;
      padding: 0 0 0 32px;
      background-color: $background_grey;
      color: black;

      h6 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        color: $color_white;
        background-color: $color_primary;
        border-radius: 10px;
        width: 20px;
        height: 20px;
        margin-left: -42px;
        margin-right: 42px;
      }

      p {
        font-weight: bold;
      }

      i {
        padding: 0 18px 0 0;
      }
    }
    /*&_:nth-child(3) {
      margin-bottom: 38px;
    }*/
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background_grey;
  width: 100%;
  z-index: 1;

  .menus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 58px;
  }

  &_cards {
    width: 275px;
    height: 215px;
    margin: 12px 40px 50px 0;
    background-color: $color_white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px $background_grey;
    text-decoration: none;
    color: $color_black;
    position: relative;

    a {
      text-decoration: none;
      color: $color_black;
    }

    .img_restaurants {
      width: 100%;
      margin: 0;
      position: relative;

      .btn_nouveau {
        color: green;
        background-color: $color_tertiary;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
  }
  .cards_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .-infos {
      display: flex;
      flex-direction: column;
      width: 295px;
      h4 {
        margin: 8px 0 0 8px;
        padding: 0 4px 0 4px;
      }
      p {
        margin: 4px 0 12px 8px;
        padding: 0 4px 0 4px;
      }
    }
  }
}

p,
h4 {
  margin: 4px 0 0 0;
  padding: 0 4px 0 4px;
}

/*
Média query 415px
*/

@media screen and (max-width: 683px) {
  .fonctionnement_section_card {
    margin: 12px;
  }
}

/*
Média query 375px<
 */

@media screen and (max-width: 375px) {
  .restaurants {
    display: flex;
    align-items: flex-start;
    width: 100%;

    h3 {
      margin-left: 22px;
    }

    .menus {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;

      .restaurants_cards {
        height: 100%;
        margin: 0 18px 18px 18px;
        width: 90%;

        h3 {
          margin-right: 228px;
        }

        .cards_content {
          .-infos {
            a {
              text-decoration: none;
              color: $color_black;
            }
          }
        }
      }
    }
  }

  .fonctionnement {
    h3 {
      display: flex;
      justify-content: flex-start;
      margin-left: 22px;
    }

    &_section {
      display: flex;
      flex-direction: column;
      align-items: center;

      &_card {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10px;
        margin: 12px 0 12px 38px;
        border: 1px solid $background_grey;
        width: 80%;
        padding: 0 0 0 32px;

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          position: sticky;
          background-color: $color_primary;
          border-radius: 10px;
          width: 20px;
          height: 20px;
        }

        p {
          font-weight: bold;
        }

        i {
          padding: 0 18px 0 0;
        }
      }
    }
  }
}
