@import "./__variables";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #22201f;
  color: $color_white;
  padding: 10px 0 10px 0;
  a {
    color: $color_white;
    margin: 8px 0 12px 0;
    text-decoration: none;
  }

  img {
    height: 32px;
    margin: 8px 0 8px 0;
    width: 54%;
  }

  i {
    height: 18px;
    width: 25px;
  }

  p {
    padding: 0;
  }
  &_icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding: 0 0 0 18px;
    align-items: flex-start;

    img {
      height: 32px;
      margin: 8px 0 8px 0;
      width: 54%;
    }

    i {
      height: 18px;
      width: 25px;
    }

    p {
      padding: 0;
    }

    &_icon {
      display: flex;
      flex-direction: row;
    }
  }
}
