@import "./__variables";

/*
SCSS du header
 */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $color_white;
  z-index: 1;

  &_logo {
    width: 250px;
    padding: 8px 0 8px 0;
  }

  a {
    position: absolute;
    left: 18px;
    top: 21px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: $color_black;
  }

  &_menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &_image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  &_location {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 100%;
    height: 32px;
    i {
      display: flex;
      align-items: center;
    }

    input {
      background-color: transparent;
      border: 0;
      outline: none;
      font-weight: bold;
      text-align: center;
      width: 128px;
    }
  }

  &_discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background_grey;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 100%;
    padding: 22px 0 44px 0;
    p {
      display: flex;
      justify-content: center;
      margin: 0 0 8px 0;
    }
  }
}

.btn_header {
  width: 215px;
  padding: 12px;
}

/*
SCSS du header 375px<
 */

@media screen and (max-width: 375px) {
  .header {
    &_image {
      height: 249px;
    }

    &_logo button {
      display: flex;
      align-items: center;
      background-color: $color_white;
      border: 0;
      padding: 0 8px 0 18px;
    }

    &_location {
      width: 100%;
      border-radius: 0;

      p {
        width: 75%;
        margin: 0 0 8px 0;
      }
    }

    &_discover {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $background_grey;
      text-align: center;
      border-radius: 0;
      width: 100%;

      p {
        width: 75%;
        margin: 0 0 8px 0;
      }

      h3 {
        font-weight: bold;
        width: 55%;
        text-align: center;
      }
    }
  }

  .btn_header {
    width: 215px;
    padding: 12px;
  }
}
