@import "../components/_buttons";
@import "../layout/__animation";
@import "../layout/__keyframes";
@import "../utils/__variables";

/*
SCSS des pages de menu
 */

body {
  margin: 0;
  font-family: "Roboto", cursive;
}

.carte {
  background-color: $background_grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &_name {
    display: flex;
    align-items: center;
    background-color: $background_grey;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    position: absolute;
    top: 245px;
    width: 100%;
    padding-bottom: 8px;

    p {
      font-size: x-large;
      font-family: "Shrikhand", cursive;
      padding: 18px 0 0 16px;
    }
  }

  .entrees,
  .plats,
  .desserts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }

  .sous_titre {
    margin: 25px 0 0 10%;
    font-size: 18px;
    width: 100%;

    &:after {
      content: "";
      border-bottom: 2px solid $color_tertiary;
      display: block;
      padding-top: 3px;
      width: 40px;
    }
  }
}

.menu {
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  box-shadow: 0 0 4px 2px darkgrey;
  background-color: $color_white;
  margin: 8px;
  width: 25%;

  &_contenu {
    display: flex;
    width: 87%;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    padding: 8px;

    p,
    h4 {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 0 0 8px;
    }
  }

  &_prix {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 12px 3px 14px;

    p {
      margin: 0;
    }
  }

  &_check {
    display: none;
    width: 0;

    i {
      font-size: x-large;
    }
  }
}

.btn_menu {
  width: 215px;
  padding: 12px;
  margin: 32px 0 32px 0;
}

/*
SCSS du header entre 900px et 376px
 */

@media screen and (min-width: 376px) and (max-width: 900px) {
  .menu {
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    background-color: $color_white;
    margin: 0 22px 8px 22px;
    width: 72%;

    &_contenu {
      display: flex;
      width: 87%;
      flex-direction: column;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .carte {
    .sous_titre {
      margin: 25px 0 8px 11%;
      font-size: 18px;
      width: 100%;

      &:after {
        content: "";
        border-bottom: 2px solid $color_tertiary;
        display: block;
        padding-top: 3px;
        width: 40px;
      }
    }
  }
}
/*
SCSS du header 375px<
 */

@media screen and (max-width: 375px) {
  .carte {
    background-color: $background_grey;
    margin: 0;

    &_name {
      display: flex;
      align-items: center;
      background-color: $background_grey;
      border-top-left-radius: 48px;
      border-top-right-radius: 48px;
      position: absolute;
      top: 245px;
      width: 100%;

      p {
        font-size: x-large;
        font-family: "Shrikhand", cursive;
        padding: 18px 0 0 16px;
      }
    }

    .entrees,
    .plats,
    .desserts {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 32px;
    }

    .entrees h2,
    .plats h2,
    .desserts h2 {
      margin: 8px 0 8px 14px;
      border-bottom: 2px solid $color_tertiary;
      width: 40px;
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    background-color: $color_white;
    margin-bottom: 8px;
    width: 95%;

    &_contenu {
      display: flex;
      width: 87%;
      flex-direction: column;
      overflow: hidden;
      white-space: nowrap;

      p,
      h4 {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &_check {
      display: none;
    }
  }

  .btn_menu {
    width: 215px;
    padding: 12px;
    margin: 16px 52px 16px 68px;
  }
}
